{{ define "main" }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->
{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }}
<ul class="article-list">
  {{ range $index, $page := $paginator.Pages }}
    <li class="article-list-item {{ with site.Params.scrollappear_enabled }}scrollappear{{ end }}">
      <a href="{{ .Permalink }}" title="{{ .Title }}">
        <h5>{{ .Title }}</h5>
      </a>
      <p>
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
      </p>
      {{ partial "article/info-footer.html" . }}
    </li>
    {{/*
<article class="post-entry">
  <h2>{{ .Title }}</h2>
  <time>{{ .Date | time.Format ":date_medium" }}</time>
  <a href="{{ .Permalink }}"></a>
  <section class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </section>
</article>
*/}}
  {{ end }}
</ul>

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="main-nav">
  {{ if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
